.logo {
	float: left;
	width: 120px;
	height: 31px;
	margin: 16px 24px 16px 0;
	background: rgba(255, 255, 255, 0.2);
	display: inline;
  }
  .site-layout-background {
	background: #F3F7FB;
  }
  [data-theme="dark"] .site-layout-background {
	background: #141414;
  }

  .ant-menu-item{
	display: flex;
  }